apiVersion: v1
kind: Service
metadata:
  name: kanni-ai-service
  namespace: kanni-ai
  labels:
    app: kanni-ai
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "80"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: kanni-ai
  ports:
  - name: http
    port: 80
    targetPort: 80
  - name: metrics
    port: 9113
    targetPort: 9113
  type: ClusterIP